@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
  font-family: "Pixelify Sans", sans-serif;
  color: #e6e6e6;
  font-weight: 2;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  background-color: #303030;
  padding: 3rem;
  border-radius: 1rem;
  margin: 4rem;
  border: 6px solid #1d1d1d;
}

select, input, button,option{
  display: block;
  margin-bottom: 10px;
  color: #1d1d1d;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: large;
}

select, button, option{
  width: 100%;
}

input{
  width: 94%;
}

button{
  margin: 2rem 0;
}

.preenchimento{
  background-color: #8f8f8f;
  padding: 0.1rem 3rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  border: 6px solid #1d1d1d;
}

.preenchimento h1, .preenchimento h3{
  color: #303030;

}
